# Database credentials
DB_HOST=sql307.infinityfree.com
DB_NAME=if0_42017220_mcms
DB_USER=if0_42017220
DB_PASS=LYfVzyUBKQz2

# JWT Secret (change this to a random 32+ character string in production!)
JWT_SECRET=d0245544fd6defaf311a1faf6f989be3dc5903f20bcf00e24094a789ec07c2b0

# Environment
APP_ENV=production
